name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  gh:
    name: create gh release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Get Tag Name
        run: echo "TAG=${GITHUB_REF##*/}" >> $GITHUB_ENV

      - name: Upload Github Release
        run: gh release create "$TAG"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release:
    name: Compile
    needs: ["gh"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: brndnmtthws/rust-action-rustup@v1
        with:
          toolchain: stable

      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --all-features --bin retry
        env:
          CARGO_TARGET_DIR: "./dist/"

      - name: Get Tag Name
        run: echo "TAG=${GITHUB_REF##*/}" >> $GITHUB_ENV

      - name: Upload Github Release
        run: gh release upload "$TAG" dist/release/retry
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
